<div style="overflow-x: auto">
    <p ng-if="messageOfSaveSection" class="ng-invalid">{{messageOfSaveSection}}</p>

    <div style="margin-bottom: 10px">
        <div class="col-md-4">
            <h4>Section Page: {{ currentPageSection }}</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div angucomplete-alt id="ex5" placeholder="Section's Course Title" selected-object="selectedObj" local-data="allSections"
                search-fields="course.title" title-field="course.title" minlength="1">

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <table class=" table table-bordered table-striped table-hover">
        <tr>
            <th> ID </th>
            <th> Course </th>
            <th> Section Number </th>
            <th> Instructor </th>
            <th>
                <i class="fas fa-archive"></i>
            </th>
        </tr>
        <tr>
            <td> ... </td>
            <td>
                <select class="form-control" ng-model="selectedCourseOfSection" ng-options="value.title for (key, value)
                    in allCourses"></select>
            </td>
            <td>
                <input class="form-control" type="number" ng-model="section.number"> </td>
            <td>
                <select class="form-control" ng-model="selectedInstructorOfSection" ng-options="(value.firstName +' '+ value.lastName) for (key, value)
                    in allInstructors"></select>
            </td>
            <td align="center">
                <button ng-click="sendSectionData()" class="btn btn-info">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
        </tr>
        <tr dir-paginate="x in allSections | filter:selectedObj.originalObject.course.title | itemsPerPage: pageSize" current-page="currentPageSection"
            pagination-id="pagination5">

            <td>{{x.id }}</td>
            <td> {{x.course.title }} </td>
            <td> {{x.number }} </td>
            <td> {{x.instructor.firstName }} {{x.instructor.lastName }} </td>
            <td align="center">
                <button ng-click="deleteSection(x.id,x.course.title,x.number,x.instructor.lastName)" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button ng-click="setSection(
                    x.number,                  x.course.title,
                    x.course.credit,           x.course.department.code,
                    x.course.department.name,  x.instructor.firstName,
                    x.instructor.lastName,     x.instructor.age,
                    x.students)" onclick="document.getElementById('id01').style.display='block'" class="btn btn-success">
                    <i class="fas fa-code-branch"></i>
                </button>
                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-animate-top w3-card-4">
                        <header class="w3-container">
                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <h4 class="modal-title" id="purchaseLabel2">Section Detail</h4>
                        </header>
                        <div class="w3-container">
                            <p> Course - "{{komplexSection.course}}" </p>
                            <p> Instructor - "{{komplexSection.instructor }}" </p>
                            <p> Department - "{{komplexSection.departmant }}" </p>
                            <p> Students in this Section </p>
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Gpa</th>
                                </tr>
                                <tr ng-repeat="y in komplexSection.students">

                                    <td> {{y.id }} </td>
                                    <td> {{y.firstName }} </td>
                                    <td> {{y.lastName }} </td>
                                    <td> {{y.age }} </td>
                                    <td> {{y.gpa }} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </table>

    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"
            pagination-id="pagination5"></dir-pagination-controls>
    </div>
</div>