<div style="overflow-x: auto">
    <p ng-if="messageOfSaveEnrollment" class="ng-invalid">{{messageOfSaveEnrollment}}</p>

    <div style="margin-bottom: 10px">
        <div class="col-md-4">
            <h4>Enrollment Page: {{ currentPageEnrollment }}</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <input ng-model="q6" id="search" class="form-control" placeholder="Filter Student-Section">
        </div>
        <div class="col-md-1"></div>
    </div>

    <table class=" table table-bordered table-striped table-hover">
        <tr>
            <th> Student </th>
            <th> Section </th>
            <th>
                <i class="fas fa-archive"></i>
            </th>
        </tr>
        <tr>
            <td>
                <select class="form-control" ng-model="selectedStudentOfEnrollment" ng-options="(value.firstName+' '+value.lastName) for (key, value)
                    in allStudents"></select>
            </td>
            <td>
                <select class="form-control" ng-model="selectedSectionOfEnrollment" ng-options="(value.course.title+' - '+ value.number) for (key, value)
                    in allSections"></select>
            </td>
            <td align="center">
                <button ng-click="sendEnrollmentData()" class="btn btn-info">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
        </tr>
        <tr dir-paginate="x in allEnrollments | filter:q6 | itemsPerPage: pageSize" current-page="currentPageEnrollment" pagination-id="pagination6">

            <td> {{x.student.firstName }} {{x.student.lastName}}</td>
            <td> {{x.section.course.title }}-{{x.section.number }} </td>
            <td align="center">
                <button ng-click="deleteEnrollment(x.id,x.student.lastName,x.section.lastName)" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </table>

    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"
            pagination-id="pagination6"></dir-pagination-controls>
    </div>
</div>