<div style="overflow-x: auto">
    <p ng-if="messageOfSaveInstructor" class="ng-invalid">{{messageOfSaveInstructor}}</p>

    <div style="margin-bottom: 10px">
        <div class="col-md-4">
            <h4>Instructor Page: {{ currentPageInstructor }}</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div angucomplete-alt id="ex4" placeholder="Instructor Last Name" selected-object="selectedObj" local-data="allInstructors"
                search-fields="lastName" title-field="lastName" minlength="1">

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <table class=" table table-bordered table-striped table-hover">
        <tr>
            <th> ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Age </th>
            <th>
                <i class="fas fa-archive"></i>
            </th>
        </tr>
        <tr>
            <td> ... </td>
            <td>
                <input class="form-control" type="text" ng-model="instructor.firstName"> </td>
            <td>
                <input class="form-control" type="text" ng-model="instructor.lastName"> </td>
            <td>
                <input class="form-control" type="number" ng-model="instructor.age"> </td>

            <td align="center"> 
                <button ng-click="sendInstructorData()" class="btn btn-info">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
        </tr>
        <tr dir-paginate="x in allInstructors | filter:selectedObj.originalObject.lastName | itemsPerPage: pageSize" current-page="currentPageInstructor" pagination-id="pagination4">

            <td> {{x.id }} </td>
            <td> {{x.firstName }} </td>
            <td> {{x.lastName }} </td>
            <td> {{x.age }} </td>
            <td align="center">
                <button ng-click="deleteInstructor(x.id,x.firstName,x.lastName,x.age)" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </table>

    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"
            pagination-id="pagination4"></dir-pagination-controls>
    </div>
</div>