<div style="overflow-x: auto">

    <p ng-if="messageOfSaveStudent" class="ng-invalid">
        {{messageOfSaveStudent}}</p>

    <div style="margin-bottom: 10px">
        <div class="col-md-4">
            <h4>Student Page: {{ currentPageStd }}</h4>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div angucomplete-alt id="ex1" placeholder="Student Last Name" selected-object="selectedObj" local-data="allStudents" search-fields="lastName"
                title-field="lastName" minlength="1">

            </div>
        </div>
        <div class="col-md-1"></div>

    </div>

    <table align="center" class=" table table-bordered table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gpa</th>
            <th>Department</th>
            <th>
                <i class="fas fa-archive"></i>
            </th>
        </tr>
        <tr>
            <td> ...</td>
            <td>
                <input class="form-control" type="text" ng-model="student.firstName"> </td>
            <td>
                <input class="form-control" type="text" ng-model="student.lastName"> </td>
            <td>
                <input class="form-control" type="number" ng-model="student.age"> </td>
            <td>
                <input class="form-control" type="number" ng-model="student.gpa"> </td>
            <td>
                <select class="form-control" ng-model="selectedDepartmentOfStudent" ng-options="value.name for (key, value) in allDepartments"></select>
            </td>
            <td align="center">
                <button ng-click="sendStudentData()" class=" btn btn-info">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
        </tr>
        <tr dir-paginate="x in allStudents| filter:selectedObj.originalObject.lastName | itemsPerPage: pageSize" current-page="currentPageStd"
            pagination-id="pagination1">

            <td> {{x.id }}</td>
            <td> {{x.firstName }} </td>
            <td> {{x.lastName }} </td>
            <td> {{x.age }} </td>
            <td> {{x.gpa }} </td>
            <td> {{x.department.code}} - {{x.department.name}}</td>
            <td align="center">
                <button ng-click="deleteStudent(x.id,x.firstName,x.lastName)" class=" btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                </button>

                <button ng-click="setStudent(x.firstName, x.lastName, x.sections)" onclick="document.getElementById('id01').style.display='block'"
                    class="btn btn-success">
                    <i class="fas fa-code-branch"></i>
                </button>
                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-animate-top w3-card-4">
                        <header class="w3-container">
                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <h4 class="modal-title" id="purchaseLabel2">Student Detail</h4>
                        </header>
                        <div class="w3-container">
                            <p> Student - "{{komplexStudent.student}}" </p>

                            <p> Classes The Student Has Registered </p>
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th>Course</th>
                                    <th>Course Credit</th>
                                    <th>Department</th>
                                    <th>Instructor</th>
                                </tr>
                                <tr ng-repeat="y in komplexStudent.sections">

                                    <td> {{y.course.title}} - {{y.number}} </td>
                                    <td> {{y.course.credit }} </td>
                                    <td> {{y.course.department.name }} </td>
                                    <td> {{y.instructor.firstName }} {{y.instructor.lastName }} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </table>

    <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"
            pagination-id="pagination1"></dir-pagination-controls>
    </div>
</div>